html {
  font-size: 10px;
  height: 100%;
}
:root {
  --black: #1a1a1a;
  --yellow: #ffca1b;
  --red: #ff4141;
}

body {
  height: 100%;
  background: linear-gradient(to bottom,rgb(0, 0, 0), var(--black));
  background-attachment: fixed;
  background-repeat: no-repeat;
  color: white;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;

}

a {
  cursor: pointer;
  text-decoration: none;
  color: white;
  padding: 5px 15px;
}

a:hover {
  text-decoration: none;
  color: var(--yellow);
}

.header {
  margin: 1rem auto;
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 2rem;
  padding: 2rem 10rem;
  border-bottom: 2px var(--yellow) solid;
}

.logo {
  display: flex;
  align-items: center;
  font-size: 2.5rem;
}

.logo-container {
  width: 10rem;
}

.login-container {
  font-size: 1.6rem;
  display: flex;
  align-items: center;
}

.login-container a {
  color: var(--yellow);
  margin-left: 2rem;
}

.login-container a:hover {
  color: white;
  border-bottom: 2px var(--yellow) solid;
}

.main {
  margin-top: 7rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 1.5rem;
}

.container {
  background: rgba(0, 0, 0, 0.20);
  backdrop-filter: blur(1px);
  padding: 5rem;
  border-radius: 2rem;
}

.container h2 {
  color: var(--yellow);
}

.left-part {
  max-width: 30%;
}

.right-part {
  min-width: 50rem;
  min-height: 25rem;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-bottom: 7rem;
}


.signupHeader {
  margin: auto;
  width: 50%;
  font-size: 3.5rem;
  text-align: center;
  padding-bottom: 2rem;
  border-bottom: 2px var(--yellow) solid;
  margin-bottom: 3rem;
}

.input-container {

  display: flex;
  flex-direction: column;
  margin: 1rem;
}

input {
  color: var(--yellow) ;
  background-color: transparent;
  border: none;
  padding: 1rem;
  margin-top: 1rem;
  border-bottom: 2px var(--yellow) solid;
}

input:focus {
  outline: none;
  color: white;
}

.buttons {
  margin-top: 2rem;
  padding: 1rem;
  display: flex;
  justify-content: center;
}

.buttons button {
  width: 48%;
  padding: 1.5rem;
  margin: auto;
  font-size: 1.6rem;
  border-radius: 1rem;
  font-weight: 500;
  border: none;
  color: white;
}

.forgot {
  margin: auto;
  text-decoration: underline;
}

.signup-btn {
  transition: 0.4s;
  background: var(--yellow);
}


.signup-btn:hover,
.google-btn:hover {
  cursor: pointer;
  background: white;
  color: black;
}

.google-btn {
  background: #4c8bf5;
}


.p-modal{
    position: fixed;
    left:0;
    top:0;
    height: 100%;
    width:100%;
    overflow: auto;
    background-color: rgba(0, 0,0,0.5);
    backdrop-filter: blur(5px);
}

.modal-content{
  z-index: 1;
  background-color: rgb(0, 0, 0,0.8);
  padding: 3rem;
  margin: 18rem auto;
  width:30%;
  height: auto;
  border-radius: 2rem; 
  text-align: center; 

}


.modal-header {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px var(--yellow) solid;
  margin-bottom: 5rem;
}

.resetPass {
  font-size: 1.2rem;
}

.resetBtn {
  width: 20rem;
  background-color: var(--yellow);
  cursor: pointer;
}

.resetBtn:hover {
  background-color: white;
  color: var(--yellow);
}

@media (max-width: 1000px) {
  html {
    font-size: 6px;
    margin: 0;
  }

  .header,
  .main {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .logo{
    font-size:3.5rem;
    margin-bottom: 2rem;
  }

  .left-part,
  .right-part {
    max-width: 80%;
    width: 100%;
    margin: 0;
  }

  .right-part {
    min-width: 0rem;
    margin-top: 5rem;
    margin-right: 0rem;
    margin-bottom: 5rem;
  }

}


