*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "poppins",sans-serif ;
    box-sizing: border-box;
}

:root {
  --black: #1A1A1A;
  --yellow: #FFCA1B;
  --red: #FF4141;
}

html{
    box-sizing: border-box;
}

body{
   
    background-color: var(--black);
    display: flex;
    justify-content: center;
}

li{
    list-style :none;
    margin: 10px;
}

li:hover{
    color: var(--yellow);
    cursor: pointer;
}

input{
    border-radius: 17px;
    border: none;
    padding: 10px;
    outline: none;
}


.search{
 
     box-shadow: 1rem 1rem 2rem 1rem rgba(87, 82, 11, 0.5);
    border-radius: 1rem;
    margin-top: 100px;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
   
}
.header{
    padding: 2px 20px 2px 20px;
    border-radius: 1rem;
    width: 100%;
    background-color: var(--yellow);
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    flex-direction: column;
}
.header h2{
    padding-top: 20px;
}
.search-bar{
    display: flex;
    padding: 20px;
    justify-content: center;
    align-items: center;
}
#submit{
 border-radius: 50%;
 border: none;
 margin-left: 15px;
}

.button{
    margin: 0px 0px 0px 10px;
}
img{
    width: 50px;
    height: 50px;
    padding: 15px;
 
}

.user-info{
    padding-top: 10px ;
    padding-bottom: 10px;
}
.user-list{

}

@media only screen and (max-width: 412px) {
    
.header{
     padding: 2px 10px 2px 10px;
}
.input{
   
    padding: 5px;
    outline: none;
}
img{
    width: 35px;
    height: 35px;
    padding: 6px;
    
}
.header h2{
    font-size: 21px;
}

.search{

  transform: scale(0.8);
}

}

